<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="twitterConsumerKey" value=""/>
    <add key="twitterConsumerSecret" value=""/>
    <add key="twitterAccessToken" value=""/>
    <add key="twitterAccessTokenSecret" value=""/>
    <add key="nginxPushStreamModuleUrl" value="http://host/pub?id=test1"/>
  </appSettings>
</configuration>
